.main.container {
    width: calc(100% - 40px);
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hidden-table {
    display: none;
}


.red.colored {
    background-color: #ffe1df!important;
    color: #db2828!important;
}

.info-column {
    background-color: #f0f0f0; 
    border-radius: 10px; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.info-column p {
    margin-bottom: 10px; 
}

.info-column span {
    margin-left: 5px;
    font-weight: bold;
}


 .buttons-column {
    display: flex!important; 
    justify-content: center;
}


#summary-container {
    display: none;
}