{% extends 'base.html' %}
{% block content %}
    <div class="main container">
        <div class="ui grid">
            <div class="ui sixteen wide column">
                {% include 'tableau.html' %}
            </div>

            <!-- Buttons Column -->
            <div class="ui three wide column buttons-column">
                <button class="massive fluid ui left labeled icon button active">
                    <i class="angle double left icon"></i>
                    Anterior
                </button>
            </div>
            <div class="ui three wide column buttons-column">
                <button class="massive fluid ui right labeled icon button active">
                    Próximo
                    <i class="angle double right icon"></i>
                </button>
            </div>
            
            <!-- Info Panel Column -->
            <div class="ui ten wide column info-column">
                <p>Variável de entrada:</p>
                <p>Variável de saída:</p>
            </div>
        </div>
    </div>
{% endblock %}