<table class="ui compact large celled definition center aligned table {% if tableau_index != 1 %} hidden-table {% else %} active {% endif %} "
        data-index="{{ tableau_index }}"
        data-in="{{ data_tableau.headers[data_tableau.pivot_header] }}"
        data-out="{{ data_tableau.basis[data_tableau.pivot_basis] }}">
    <thead>
        <tr>
            <th>Base</th>
            {% for header in data_tableau.headers %}
                <th {% if header == data_tableau.headers[data_tableau.pivot_header] %} class="green colored"{% endif %}>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data_tableau.tableau %}
            <tr>
                {% if loop.last %}
                    <td>P</td>
                {% else %}
                    <td {% if loop.index0 == data_tableau.pivot_basis  %} class="red colored" {% endif %}>

                        {{ data_tableau.basis[loop.index0] }}
                    </td>
                {% endif %}
                
                {% for elem in row %}
                    <td>{{ elem|round(2) }}</td>
                {% endfor %}

                {% set tr = data_tableau.tr[loop.index0] %}
                {% if tr %}
                    <td>{{ data_tableau.tr[loop.index0]|round(2) }}</td>
                {% else %}
                     <td>{{ data_tableau.tr[loop.index0] }} </td>

                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>